/* .avatar-container {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
  }
  
  .avatar-placeholder {
    width: 100%;
    height: 100%;
    background-color: #ccc; 
    border-radius: 50%;
  }
  
  .icon-wrapper {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .delete-icon-wrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
   */

  .uploaded-image {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Maintain aspect ratio */
    margin-top: 10px; /* Add margin for spacing */
  }
  