
/* Custom gutter width */
.custom-row {
    margin-right: -10px; /* Adjust as needed */
    margin-left: -10px; /* Adjust as needed */
  }
  
  .custom-row [class^="col-"],
  .custom-row [class*=" col-"] {
    padding-right: 10px; /* Adjust as needed */
    padding-left: 10px; /* Adjust as needed */
  }
  

.image-container {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    
}

img{
    border-radius: 5px;
}

.button {
    position: absolute;
    bottom: -21px;
    left: 27px;
    color: #fff;
    font-weight: bold;
    font-size: large;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}