<div class="container mt-4">
    <div class="row">
        <!-- <div class="transformation"> -->
            <div class="col-md-4 size transformation" style="background-color: orange; border: 1px solid red;" (click)="addProduct()">
                <p>Add Product</p>
            </div>
        <!-- </div> -->
        <!-- <div class="transformation"> -->
            <div class="col-md-4 w-400 size transformation" style="background-color: orange; border: 1px solid red;" (click)="removeProduct()">
                <p>Remove Product</p>
            </div>
        <!-- </div> -->
    </div>
    <app-get-product></app-get-product>
</div>